code {
 white-space : pre-wrap !important;
 word-break: break-word !important;
}

span.badge {
	font-size: 12px;
	border-radius: 3px;
	padding: 3px;
	font-family: Consolas,Menlo,Monaco,"Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New",monospace,serif;
	background-color: rgba(0,0,0,.1)
}
span.badge.error {
	color: white;
	background-color: #c97a7e;
}